body{
	background-image: url("sportbackground.jpg");
}*{
	color:#5160ed;
	font-family: Open Sans, Arial, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box !important;
}
a{
	text-decoration: none;
	color: none;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}
header{
	height: 6rem;
	background: white;
	padding-left:1.2rem;
	padding-right:1.2rem;
	display:flex;
	justify-content: center;
}
footer{
	display:flex;
	gap: 10%;
	padding:2rem;
	background-image: linear-gradient(100deg, #000049 13%, #0c71c3 100%) !important;
}
footer *{
	color:white;
}
.heading{
	padding:1.2rem;
	font-size: 2rem;
	text-align: center;
	text-shadow: 1px 1px black;
	background: #2929cc;
	background: linear-gradient(180deg, rgba(41, 41, 204, 1) 1%, rgba(52, 52, 163, 1) 42%, rgba(94, 99, 168, 1) 100%);
}
.heading h3{
	color:white;
}
.navigation-bar{
	text-shadow: 2px 2px #9aa7db;
	display:flex;
	gap: 2rem;
	align-items: center;
}
.navigation-bar a{
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navigation-bar a:hover{
	border-style: none none solid none;
	border-color:#9aa7db;
	border-width: 0.4rem;
}
.items-box{
	background-image: url("truong-thpt-nguyen-dinh-chieu-ben-tre.jpg");
	padding: 1.2rem;
	display:flex;
	justify-content: space-between;
	gap: 2%;
}
.items-box .item{
	background-color: white;
	padding-left:2%;
	padding-right: 2%;
	border-radius: 1.2rem;
	font-size:1.2rem;
	line-height: 3.6rem;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	transition: 0.25s;
}
.item{
	text-align: center;
}
.items-box .item:hover{
	transform: scale(1.025,1.05);
	font-size: 2rem;
	background: #FDBB2D;
	background: linear-gradient(0deg,rgba(253, 187, 45, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.items-box .item:hover p{
	color:#1a27b8;
}
.img-box{
	padding-top:8%;
}
.img-box img{
	border-radius: 1.2rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
a p{
	font-size: 1.5rem;
	color:#123fc7;
	font-weight: 700;
}
a h1{
	text-shadow: 2px 2px gray;
	color: #123fc7;
	font-size: 2rem;
	padding-right:20px;
	padding-left:20px;
	background-color: #9aa7db;
	transition: 0.2s;
}
a h1:hover{
	text-shadow: 2px 2px white;
	background-color: #676786;
}
a h2{
	color:#911319;
	font-size: 2rem;
	font-style: italic;
}
.copyright{
	padding:1.5rem;
	background: #020024;
	background: linear-gradient(36deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.copyright *{
	color: white;	
}
.links *{
	color:white;
}
.links p{
	font-size:1rem;
	line-height: 2rem;
	font-weight: 1;
}
.links a:hover{
	font-style: italic;
}
.detail{
	font-size:1.2rem;
	color:gray !important;
	font-style: italic;
}
.navigation-btn{
	display:none;
}
@media screen and (max-width:768px) {
	.items-box{
		flex-direction: column;
	}
	footer{
		flex-direction: column;
	}
	.navigation-bar{
		display: none;
		flex-direction: column;
	}
	.navigation-bar a{
		justify-content: left;
	}
	header:hover .navigation-bar{
		display:block;
	}
	.navigation-btn{
		display:block;
	}
	.navigation-btn:hover ~ .navigation-bar{
		display: block;
	}
	header{
		height: auto;
		position: sticky;
		top:0;
		flex-direction: column;
	}
	a p{
		font-size: 1rem;
	}
	a h1{
		font-size: 1rem;
		padding: 0;
	}
	a h2{
		font-size: 1rem;
	}
}